*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#presentacion{

    display: flex;
    align-items: center;
    padding: 120px;

}
h1{
    color: #243757;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 73px;
}
h4{
    padding: 40px 0px;
    text-align: justify;
    font-size: 20px;
    padding-right: 70px;
}
.image {
    flex: 1;
}
.footer {
    background-color: #459a96;
    color: white;
    padding: 18px;
    text-align: right;
}
