:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #00b341;
    --secundario: #B30800;
    --verde_negro: #484450;
    --verde_opaco: #466067;
    --verde: #459a96;
    --verde_menta: #34baab;
    --gris: #c4c8c5;
    --azul_oscuro: #243757;
    --verde_oscuro: #3a5f6f;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* --------------- GENERAL --------------- */

body{
    font-family: 'Inter', sans-serif;
    /*display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor{
    max-width: 100rem;
    border-color: var(--gris);

    /*Primer valor, top & bottom; Segundo valor, right & left*/
    margin: 3rem auto 0 auto;
}

.sombra{
    /*-webkit-box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59);
    -moz-box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59); */
    box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo{
    font-family: 'League Spartan', sans-serif;
    font-size: 4rem;
}

p, a{
    font-size: 2rem;
    margin-bottom: 1rem;
}

a{
    color: #4E9693;
}

.texto-menor{
    font-size: 1.6rem;
}

/* --------------- UTILIDADES --------------- */
.wrapper{
    min-height: 100%;
    position: relative;
}

.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
    margin: 0;
}

.blue-button {
    background-color: #4E8D96;
    color: white;
    outline-color: #4E8D96;
}

.white-button {
    background-color: var(--blanco);
    color: var(--negro);
    outline-color: #4E8D96;
}

.blanco{
    color: var(--blanco);
}

/* --------------- ELEMENTOS --------------- */
.logo{
    width: 25rem;
    height: 25rem;
}

.password{
    height: 2.2rem;
}

.icono_ojo{
    width: 4rem;
    height: 4rem;
}

.registro{
    grid-column: 2/3;
    text-align: center;
}

/* --------------- FOOTER --------------- */
.footer{
    background-color: #4E9693;
    text-align: center;
    margin-top: auto;
}
