:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #00b341;
    --secundario: #B30800;
    --verde_negro: #484450;
    --verde_opaco: #466067;
    --verde: #459a96;
    --verde_menta: #34baab;
    --gris: #9A9A9D;
    --gris_claro1: #dcdcdc;
    --gris_claro2: #f4f4f4;
    --azul_oscuro: #243757;
    --verde_oscuro: #3a5f6f;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* --------------- GENERAL --------------- */

body{
    font-family: 'Inter', sans-serif;
}

.contenedor{
    max-width: 100rem;
    border-color: var(--gris);

    /*Primer valor, top & bottom; Segundo valor, right & left*/
    margin: 3rem auto 0 auto;
}

.sombra{
    /*-webkit-box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59);
    -moz-box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59); */
    box-shadow: 0px 5px 15px 0px rgba(148,148,148,0.59);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo{
    font-family: 'League Spartan', sans-serif;
    font-size: 4rem;
}

p, a{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a{
    color: #4E9693;
}

/* --------------- UTILIDADES --------------- */
.side-left{
    margin: 0 2rem;
}

.superior-der{
    position: fixed;
    width: 80%;
    right: 0;
    background-color: var(--verde_menta);
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.grid-estructura{
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-buscar{
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

.zn-empleos{
    display: grid;
    grid-template-columns: 55% 45%;
}

.grid3{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
    margin: 0;
}

.ancho2{
    grid-column: 1/3;
}

.izquierda{
    margin-right: 1rem;
}

.derecha{
    margin-left: 1rem;
}

.centro{
    display: flex;
    justify-content: center;
}

.blue-button {
    background-color: #4E8D96;
    color: white;
    outline-color: #4E8D96;
}

.white-button {
    background-color: var(--blanco);
    color: var(--negro);
    outline-color: #4E8D96;
}

.blanco{
    color: var(--blanco);
}

.margin-2{
    margin: 2rem;
}

.bttn-redondo-azul{
    border-radius: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #3A5F6F;
    color: var(--blanco);
    border-style: none;
    height: fit-content;
}

.texto-menor{
    font-size: 1.6rem;
}

.texto-gris{
    font-size: 1.6rem;
    color: var(--gris);
    margin-top: 0;
}

.texto-normal{
    /*ES PARA LAS LISTAS*/
    font-size: 1.5rem;
    margin: 0;
}

/* --------------- ELEMENTOS --------------- */
h2{
    margin: 0;
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    margin: 0 0 0.5rem;
}

.logo{
    width: 20rem;
    height: 20rem;
}

input{
    height: 3rem;
    border-radius: 0.5rem;
    border: 3px solid #E1E3E1;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    width: 100%;
}

.barra-busqueda{
    position: relative;
    bottom: 0;
}

.alinear-bttn{
    display: flex;
    align-items: flex-end;
}

.bttn-buscar{
    border-radius: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: var(--verde);
    color: var(--blanco);
    border-style: none;
    height: fit-content;
    margin: 1rem 0;
}

hr{
    max-width: 60%;
    color: #E1E3E1;
    margin: 2rem auto;
}

p.texto-menor{
    margin-top: 0;
}

.checkbox-password{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0; margin-right: 0.5rem;
    vertical-align: center;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.que,.donde{
    margin: 1rem 1.5rem;
    width: 80%;
    max-height: fit-content;
}

label{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

scroll-container {
    display: block;
    width: 90%;
    height: 98%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--gris_claro1);
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 2rem;
}

.puesto{
    text-decoration-line: underline;
}

.empresa{
    color: var(--verde_opaco);
    margin: 0.5rem 0 0 0;
}

.ciudad{
    color: var(--gris);
    margin: 0.5rem 0;
}

.sueldo{
    margin: 0;
}

.vacante{
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.vacante:hover{
    background-color: var(--gris_claro2);
}

.timeago{
    color: var(--gris);
    margin: 0;
}

.about{
    margin: 0;
}

.postularse{
    background-color: var(--verde_menta);
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.postularse:hover{
    background-color: var(--verde);
}

/* --------------- FOOTER --------------- */
.footer{
    background-color: #4E9693;
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
}

.ultimo{
    margin-bottom: 10rem;
}