<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de empleo</title>
    <link rel="stylesheet" href="../css.normalize.css">
    <link rel="preload" href="../css/normalize.css" as="style">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preload" href="../css/style_bsuqueda.css" as="style">
    <link rel="stylesheet" href="../css/style_busqueda.css" as="style">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body> 
    <div class="grid-estructura">
        <!--ZONA SUPERIOR-->
        <section>
            <img class="logo" src="../imagenes/Logo.jpg">
        </section>
        <section>            
            <!--NAVEGACIÓN-->
            <div class="nav">
                <button class="bttn-redondo-azul">BUSCAR EMPLEO</button>
                <button class="bttn-redondo-azul">BUSCAR CANDIDATOS</button>
                <button class="bttn-redondo-azul">EMPRESA / PUBLICAR EMPLEOS</button>
            </div>
            <div class="grid-buscar">
                <!--QUÉ-->
                <div class="que">
                    <h2>Qué</h2>
                    <p class="texto-gris">Título, palabras clave o empresa</p>
                    <input type="text" id="que" class="barra-busqueda">
                </div>
                <!--DÓNDE-->
                <div class="donde">
                    <h2>Dónde</h2>
                    <p class="texto-gris">Ciudad o estado</p>
                    <input type="text" id="que" class="barra-busqueda">
                </div>
                <!--BUSCAR-->
                <div class="alinear-bttn">
                    <button class="bttn-buscar">BUSCAR EMPLEOS</button>
                </div>
            </div>
        </section>

        <!--LADO IZQUIERDO-->
        <section class="side-left">
            <p class="texto-gris">Clasificar por:</p>
            <p>Relevancia - Fecha</p>

            <p>Tipo de empleo:</p>
            <ul class="texto-gris">
                <li>Jornada completa (2)</li>
                <li>Media jornada (5)</li>
                <li>Beca / Prácticas (1)</li>
                <li>Autónomo (0)</li>
                <li>Indefinido (11)</li>
            </ul>
            <p>+ Más</p>
        </section>

        <!--ÁREA DE EMPLEOS-->
        <section class="zn-empleos ultimo">
            <div>
                <div>
                    <p><a>SUBE TU CV</a> - Deja que las empresas te encuentren</p>
                </div>
                <p class="texto-gris">Mostrar: Todas las ofertas - <a>18 Nuevas Ofertas:</a></p>
                <div>
                    <h2 class="puesto" id="puesto">Redactor Web</h2>
                    <p class="empresa" id="empresa">Rain-B</p>
                    <p class="ciudad" id="ciudad">Monterrey, Nuevo León</p>
                    <p class="sueldo" id="sueldo">$10,500 MXN por mes</p>
                    <p class="detales">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vehicula libero. Sed finibus ex ac eleifend congue. Cras quis suscipit mi, efficitur pharetra urna. Aenean vitae dignissim arcu. Con experiencia en:
                        <ul class="texto-normal">
                            <li>Planeación de proyecto</li>
                            <li>Fron-end</li>
                            <li>Diseño</li>
                        </ul></p>
                    <p class="">Solicita facilmente</p>
                </div>
            </div>
            <scroll-container>
                <div class="vacante" id="vacante_1">
                    <p class="timeago" id="timeago_1">Hace 5 días</p>
                    <h3 class="puesto" id="puesto_1">Redactor Web</h3>
                    <p class="empresa" id="empresa_1">Rain-b</p>
                    <p class="ciudad" id="ciudad_1">Monterrey, Nuevo León</p>
                    <p class="sueldo" id="sueldo_1">$10,500 MXN por mes</p>
                    <p class="about" id="about_1">Sobre el empleo
                        <ul class="texto-normal">
                            <li><b>Categoría:</b> Informática, diseño</li>
                            <li><b>Educación mínima:</b> Universidad</li>
                        </ul>
                    </p>
                    <button class="postularse">POSTULARME</button>
                </div>
                <div class="vacante" id="vacante_2">
                    <p class="timeago" id="timeago_2">Hace 7 días</p>
                    <h3 class="puesto" id="puesto_2">Back-end</h3>
                    <p class="empresa" id="empresa_2">Software Inteligente</p>
                    <p class="ciudad" id="ciudad_2">Escobedo, Nuevo León</p>
                    <p class="sueldo" id="sueldo_2">$12,500 MXN por mes</p>
                    <p class="about" id="about_2">Sobre el empleo
                        <ul class="texto-normal">
                            <li><b>Categoría:</b> Informática, base de datos</li>
                            <li><b>Educación mínima:</b> Universidad</li>
                        </ul>
                    </p>
                    <button class="postularse">POSTULARME</button>
                </div>
            </scroll-container>
        </section>
    </div>

    <div class="footer">
        <p class="blanco footer-text">LFJLDRL © 2023</p>
    </div>

    <script src="../js/jquery-3.7.0.min.js"></script>
    <script src="../js/busqueda_empleos.js"></script>
</body>



</html>
