<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../css.normalize.css">
    <link rel="preload" href="../css/normalize.css" as="style">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preload" href="../css/style_prin_empleadores.css" as="style">
    <link rel="stylesheet" href="../css/style_prin_empleadores.css" as="style">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>        
    <img class="logo" src="../images/Logo.jpg">
    <section class="centro">
        <div class="sombra"><h2>Vacantes</h2></div>
    </section>
    <section class="busqueda">
        <div></div><div></div>
        <div class="globo-menta">
            <img>
            <input type="text" placeholder="Trabajo, empresa o palabra clave">
        </div>
        <div class="globo-menta">
            <img>
            <input type="text" placeholder="Ciudad o estado">
        </div>
        <button class="globo-menta">+ Nueva vacante</button>
    </section>
    <section class="grid3">
        <div class="vacante" id="vacante_1">
            <div class="centro"><img src="../svg/logo_tec.svg" class="icono"></div>
            <h3>Desarrollador de Arquitectura Digital/Web</h3>
            <div class="centro"><img src="../svg/edificio.svg" class="icono"></div>
            <p>Empresa: Tecnológico de Monterrey</p>
            <div class="centro"><img src="../svg/ubicacion.svg" class="icono"></div>
            <p>Monterrey, Nuevo León</p>
            <div class="centro"><img src="../svg/maletin.svg" class="icono"></div>
            <p>Jornada completa</p>
            <div class="centro ancho2"><button class="detalles">Ver detalles</button></div>
        </div>
        <div class="vacante" id="vacante_2">
            <div class="centro"><img src="../images/logo_inst-salud-mental.jpeg" class="icono"></div>
            <h3>Psicólogo infantil</h3>
            <div class="centro"><img src="../svg/edificio.svg" class="icono"></div>
            <p>Empresa: Instituto de Salud Mental de Nuevo León</p>
            <div class="centro"><img src="../svg/ubicacion.svg" class="icono"></div>
            <p>Monterrey, Nuevo León</p>
            <div class="centro"><img src="../svg/maletin.svg" class="icono"></div>
            <p>Jornada completa</p>
            <div class="centro ancho2"><button class="detalles">Ver detalles</button></div>
        </div>
        <div class="vacante" id="vacante_3">
            <div class="centro"><img src="../images/logo_rain-b.png" class="icono"></div>
            <h3>Diseñador Web</h3>
            <div class="centro"><img src="../svg/edificio.svg" class="icono"></div>
            <p>Empresa: Rain-b</p>
            <div class="centro"><img src="../svg/ubicacion.svg" class="icono"></div>
            <p>Escobedo, Nuevo León</p>
            <div class="centro"><img src="../svg/maletin.svg" class="icono"></div>
            <p>Media jornada</p>
            <div class="centro ancho2"><button class="detalles">Ver detalles</button></div>
        </div>
    </section>
    <div class="footer">
        <p class="blanco footer-text">LFJLDRL © 2023</p>
    </div>

    <script src="../js/jquery-3.7.0.min.js"></script>
    <script src="../js/interfaz_login.js"></script>
</body>



</html>