<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Emmpleador</title>
    <link rel="stylesheet" href="../css.normalize.css">
    <link rel="preload" href="../css/normalize.css" as="style">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preload" href="../css/style_registro.css" as="style">
    <link rel="stylesheet" href="../css/style_registro.css" as="style">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>        
    <div class="ultimo">
        <img class="logo" src="../imagenes/Logo.jpg">

        <section class="contenedor sombra max-width-60">
            <div class="grid2 margin-2">
                <h2 class="titulo ancho2">Crea tu cuenta  como empleador</h2>
                <p class="texto-menor ancho2">
                    ¿Eres un trabajador?
                    <a class="texto-menor" href="registro_trabajadores.html">Regístrate aquí</a>
                </p>
                <!--NOMBRES Y APELLIDOS-->
                <p>Nombre(s):</p>
                <p class="derecha">Apellido:</p>
                <input id="empleador_nombre" type="text" class="izquierda">
                <input id="empleador_apellido" type="text" class="derecha">

                <!--CORREO ELECTRÓNICO-->
                <p class="ancho2">Correo electrónico:</p>
                <input id="empleador_correo" type="text" class="ancho2">

                <!--CONTRASEÑA-->
                <p class="ancho2">Contraseña:</p>
                <input id="empleador_password" type="password" class="password ancho2">
                <div>
                    <label><input type="checkbox" class="checkbox-password" id="show_password">Mostrar contraseña</label>
                </div>

                <!--CONFIRMACIÓN CONTRASEÑA-->
                <p class="ancho2">Confirmar contraseña:</p>
                <input id="empleador_password_confirm" type="password" class="password ancho2">
                <div>
                    <label><input type="checkbox" class="checkbox-password" id="show_password_confirm">Mostrar contraseña</label>
                </div>

                <!--NÚMERO DE TELÉFONO-->
                <p class="ancho2">Número de teléfono:</p>
                <input id="empleador_tel" type="tel" class="ancho2"> 
            </div>

            <div class="centro">
                <button class="bttn_redondo_azul" id="bttn_registro">Registrarse</button>
            </div>
            <hr>
            <div class="centro">
                <p class="texto-menor">
                    ¿Ya eres miembro de LFJLDRL?
                    <a class="texto-menor" href="login.html">Iniciar sesión</a>
                </p>
            </div>

        </section>
    </div>

    <div class="footer">
        <p class="blanco footer-text">LFJLDRL © 2023</p>
    </div>

    <script src="../js/registro_empleador.js"></script>
</body>



</html>